.game {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-header {
    padding: 20px 0;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: darkgray;

    &-wrapper {
      display: flex;
      justify-content: center;
      position: relative;
      width: fit-content;
    }

    &-item {
      border: 1px solid black;
      height: 95px;
      width: 95px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      cursor: pointer;
      font-size: 40px;

      &:hover {
        background-color: lightgrey;
      }
    }
  }

  &-over {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(169, 169, 169, 0.9);
  }
}
