.game {
  display: flex;
  flex-direction: column;

  &-header {
    padding: 20px 0;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    background-color: black;

    &-wrapper {
      display: flex;
      justify-content: center;
    }

    &-item {
      border: 1px solid black;
      height: 95px;
      width: 95px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      cursor: pointer;
      font-size: 40px;
    }
  }
}
